#app {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 15em auto;
    grid-template-rows: 8em auto;
    grid-template-areas:
        "header header"
        "nav content";
}

#header {
    grid-area: header;
}

#nav {
    grid-area: nav;
}

.content {
    grid-area: content;
}
