#nav {
    background-color: darkslateblue;
    border-top-right-radius: 10px;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

.navItem {
    padding: 1.2em 2em;
    margin: 1em 0;
    border-radius: 10px;
    cursor: pointer;
}

.navItem.selected {
    background-color: #6255B4;
    cursor: unset;
}

.navItem:hover {
    background-color: #6255B4;
}